@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link {
    color: #333 !important;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
}
.nav-link:hover {
    color: #ff6b00 !important;
}

.navbar img {
    height: 50px;
}

.main-banner {
    position: relative;
    background-image: url('/images/sushi-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 60px;
}

/* DARK OVERLAY */
.main-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);  
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2; 
    max-width: 40%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 100px;
}

.banner-content h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.banner-content p{
    font-size: 36px;
    text-align: center;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
}


.btn-custom {
    display: inline-block;
    padding: 12px 24px;
    background: #ff6b00;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    transition: background 0.3s;
}

.btn-custom:hover {
    background: #bc4c01;
}

#about {
    background-image: url('/images/about-us-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 600px;
    
}

#about p {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 1.9;
    color: #fff;
    text-align: center;
    padding-top: 20px;
   
}
.about-content {
    background: rgba(0, 0, 0, 0.5);  
    height: 100%;
    padding: 100px 50px;  
}

#about h2 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

#menu h2 {
  font-family: 'Lato', serif;
}

#menu .carousel-item {
  min-height: 360px;
}

#menu img {
  max-height: 260px;
  object-fit: cover;
}

.contact-content {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #333;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
}

